/*-----------------------------------------
---------- RESPONSIVE ---------------------
-------------------------------------------*/

/* Main COntainer */
@media (min-width:1300px){
	.container{width:1230px}
}

/* Small desktop / ipad view*/
@media only screen and (min-width : 769px) and (max-width : 1040px) {
	/* Header */
	#main_menu .navbar-nav > li {
		padding-right: 25px;
	}	
}

/* Smartphone view */
@media only screen and (min-width : 320px) and (max-width : 480px) {
	/* Theme Element */
	h2.section_title{
		line-height: 48px;
	}

	/* Header & navigation */
	.logo {
	  display: inline-block;
	  float: left;
	  position: static;
	}
	#header .navbar-default {
	  display: inline-block;
	  float: right;
	}
	.navbar-default .navbar-toggle {
	  margin-right: 0;
	  margin-top: 25px;
	}
	#main_menu .navbar-nav {
	  display: inline-block;
	  float: none;
	  margin-left: 0;
	  text-align: right;
	}
	#main_menu .navbar-nav > li {
	  float: none;
	  padding-right: 0;
	  text-align: right;
	}
	#header2 .navbar-default {
	  display: inline-block;
	  float: right;
	}
	.navbar-default .navbar-toggle {
	  margin-right: 0;
	  margin-top: 25px;
	}
	.logo2 {
		margin: 0 auto;
		display: block;
	}
	#main_menu2 .navbar-nav {
	  display: inline-block;
	  float: none;
	  margin-left: 0;
	  text-align: right;
	}
	#main_menu2 ul li.contact_menu,
	#main_menu2 .navbar-nav > li{
	  float: none;
	  padding-right: 0;
	  margin-right: 0;
	  text-align: right;
	  background: transparent;
	}
	.navbar-nav {
		margin: 0;
	}
	#main_menu2 ul li.contact_menu a:hover,
	#main_menu2 ul li.contact_menu a{
		color: #686e7c;
	}
}